<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
  <link rel="canonical" href="{{.SelfLink}}">
  <title>Pull Request #{{.ID}} for {{.Owner}}/{{.Repo}}</title>
  <style>
  .add {
    color: #22863a;
    background-color: #f0fff4;
  }

  .remove {
    color: #b31d28;
    background-color: #ffeef0;
  }

  body {
    margin: 24px;
  }
  </style>
</head>
<body>

  <h1>
    Pull Request
    <a href="{{.GithubLink}}">#{{.ID}}</a>
    for
    <a href="{{.OwnerLink}}">{{.Owner}}</a>/<a href="{{.RepoLink}}">{{.Repo}}</a>

    <a href="{{.RawLink}}">
      <small>Raw</button>
    </a>
  </h1>


  <pre>
    {{range .Lines -}}
      <span class="{{if .Add}}add{{else if .Remove}}remove{{end}}">{{.Content}}</span>
    {{end}}
  </pre>

  <form action="{{.CommitLink}}" method="post">
    <button type="submit" class="btn btn-danger">Commit</button>
    <span class="form-text text-muted">
      Warning! This will commit these changes directly to the pull request.
    </span>
  </form>
</body>
</html>
